#board {
  margin-top: 10px;
}

body {
	background-color: #455e62;
	color: white;
	text-align: center;
}

h1 {
	font-size: 85px;
}
.box {
  border: 1px solid white;
  height: 150px;
  background-color: #99b3b7;
  color: white;
  font-size: 85px;
  text-align: center;
}