#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

body {

}

.board {
  border: 2px solid black;
}

.ex {
  background-color: purple;
}

.oh {
  background-color: aqua;
}
